.mainPhoto {
    height: 90vh;
    background: url('../images/mainPhoto.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &--photo {
        height: 90vh;
        background-color: rgba(0,0,0, 0.4);
        position: relative;
        &--sublines {
            font-size: 4rem;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: #fff;
            padding: 0.1rem 1rem;
            &:last-child {
                top: 52%;
            }
        }
    }
}