extends layout

block content
    div(class="login")
        div
            h1(class="title") Change Password
            - var n = 0
            while n < errors.length
                p(class="error_msg_reg") #{errors[n].msg}
                - n++
            - if(success_msg != '')
                div(class="pop pop__success") #{success_msg}
            - if(error_msg != '')
                div(class="pop pop__error") #{error_msg}
        form(action="/user/changePassword" method="post" class="login--form")
            p(class="login--item")
                input(type="password" id="password" name="password")
                label Password
            p(class="login--item")
                input(type="password" id="password2" name="password2")
                label Confirm password
            p(class="login--item")
                input(type="submit" value="Change Password" class="btn--login")