extends layout

block content
    div.mainPhoto
        div.mainPhoto--photo
            div.mainPhoto--photo--sublines Restaurant
            div.mainPhoto--photo--sublines Divaldo
    a(href="/book") Book your table