extends layout

block content
    .menu
        h1 Menu
        .menu--container
            .menu__left
                ul
                    li 
                        h3 Meat
                    li
                        h5 Chicken
            .menu__right
                ul
                    li 
                        h3 Drinks
                    li
                        h5 Cola